<div class="row">
    <form class="col s12" action="/insert" method="POST">
        <div class="row">
            <div class="input-field col s6">
              <input id="db_name" type="text" name="db_name">
              <label for="db_name">DataBase Name</label>
            </div>
        </div> 
        <div class="row">
            <div class="input-field col s6">
              <input id="collection_name" type="text" name="collection_name">
              <label for="collection_name">Collection Name</label>
            </div>
        </div>  
      <div class="row">
        <div class="input-field col s12">
          <textarea id="insert_doc" class="materialize-textarea" name="insert_doc"></textarea>
          <label for="insert_doc">Insert document</label>
        </div>
      </div>
      <button type="submit" class="btn">create</button>
    </form>
</div>