<div class="row">
    <form class="col s12" action="/insert" method="POST">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="insert_doc" class="materialize-textarea" name="insert_doc"></textarea>
          <label for="insert_doc">Insert document</label>
        </div>
      </div>
      <button type="submit" class="btn">Insert</button>
    </form>
</div>